@font-face {
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
  src: url("../fonts/Helvetica Neue LT Com 77 Bold Condensed.ttf");
}
@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("../fonts/HelveticaNeueRegular.otf");
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  letter-spacing: 0px;
  font-size: 30px;
}
.header {
  background-color: rgb(243, 243, 243);
}
.header__pic {
  width: 270px;
  margin: 0 auto;
}
.header__image {
  position: relative;
  padding: 0px 0px 14% 0px;
}
.header__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.info__items {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 2px;
  border-top: 1px solid rgb(229, 229, 229);
}
.left b {
  color: rgb(216, 67, 60);
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
}
.left strong {
  color: rgb(30, 141, 238);
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
}
.left__items {
  display: flex;
  flex-direction: column;
}
.left__item {
  color: rgb(0, 0, 0);
  padding: 2px 0px;
  display: flex;
}
.left__text {
  font-size: 16px;
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
}
.left__numbers {
  font-family: "HelveticaNeueRegular";
  font-size: 15px;
  color: rgb(91, 91, 91);
  font-weight: 600;
  letter-spacing: 1px;
}
.left__pic {
  width: 18px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1px;
}
.left__image {
  position: relative;
  padding: 0px 0px 77% 0px;
}
.left__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right b {
  color: rgb(216, 67, 60);
  font-size: 17px;
  letter-spacing: 0px;
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
}
.right strong {
  color: rgb(30, 141, 238);
  font-size: 17px;
  letter-spacing: 0px;
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
}
.right__item {
  padding: 2px 0px;
}
.right__text {
  font-size: 14px;
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
  color: rgb(91, 91, 91);
}
.right__numbers {
  font-family: "HelveticaNeueRegular";
  font-size: 16px;
  letter-spacing: 0px;
  text-align: right;
}

.profit__items {
  padding: 3px 10px 6px;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
}
.profit__item {
  display: flex;
  justify-content: space-between;
}
.profit__text {
  color:rgba(91, 91, 91, 1);
  font-family: "Helvetica Neue LT Com 77 Bold Condensed Oblique V2";
  font-size: 16px;
  padding-top: 5px;
  letter-spacing: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(246, 246, 246);
  padding: 5px 8px;
  border-top: 1px solid rgb(229, 229, 229);
}
.footer__pic {
  width: 100%;
  margin: 0 auto;
}
.footer__image {
  position: relative;
  padding: 0px 0px 12% 0px;
}
.footer__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
